<div class="form-group">
  <label for="bookTitle"> Book Title </label> 
  <input class="form-control" [(ngModel)]= "bookTitle" type = "text"/><br>

  <label for="date"> Publication Date </label>
  <input class="form-control" [(ngModel)]= "date" type = "date"/><br>

  <label for="bookType"> Select Book Type </label>
    <select class="form-control" name="bookType" [(ngModel)]="bookType">
      <option value="hardcover">Hard Cover</option>
      <option value="paperback">Paper Back</option>
    </select><br>
  <label for="summary"> Book Summary </label>
  <input class="form-control" [(ngModel)]= "summary" type = "text" />
</div>

<button class="btn btn-primary" (click) = "saveBook()"> Save Book {{books.length}}</button>
<button class="btn btn-info" (click) = "deleteHardCover()"> Delete Hard Cover {{getNumberOfHardCovers()}}</button>
<br>

<br>
<br>

<table class="table table-hover">
    <thead>
  <tr>
    <th>#</th>
    <th>Book Title</th>
    <th>Publication Date</th>
    <th>Book Type</th>
    <th>Summary</th>
    <th>Switch Cover</th>
    <th>Delete?</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor = "let book of books; let i = index">
    <td>{{i+1}}</td>
    <td>{{book.bookTitle}}</td>
    <td>{{book.date}}</td>
    <td>{{book.bookType}}
    </td>
    <td>{{book.summary}}</td>
    <td><button class="btn btn-primary" (click) = "switchCover(i)">Switch Cover </button>
    </td>
    <td><button class="btn btn-danger" (click) = "deleteItem(i)">Delete?</button></td>
    
  </tr>
  <tbody>
</table>